<%= form_for(task) do |f| %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
  <%= f.label :details %>
  </div>
  <div>
  <%= f.text_field :details %>
  </div>
  <div>
  <%= f.submit %>
  </div>
<% end %>
